{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="hero-image-home jumbotron-overlay jumbotron-fluid py-md-5 d-flex align-items-center">
    <div class="container d-flex justify-content-center">
        <div class="hero-text text-center text-wrap py-3 mt-3">
            <h1>Step into Christmas!</h1>
            <a href="#" class="btn btn-lg text-uppercase py-3" aria-label="Shop now Button">Shop Now</a>
        </div>
    </div>
</div>

<div class="container-fluid align-items-center text-center mt-3">
    <h2 class="section-heading">Popular Categories</h2>
    <hr>
</div>

<section class="py-1">
    <div class="container-fluid align-items-center">
        <div class="row mt-2 mb-4">
            <div class="col-sm-12 col-md-6 col-lg-3 py-3">
                <div class="card card-home h-100">
                    <img class="index-image"
                        src="https://res.cloudinary.com/dcydt01ed/image/upload/v1699744473/decorations_trimwx.webp"
                        alt="Christmas Decorations">
                    <div class="card-body text-center">
                        <h3 class="card-title fw-bold text-center">Decorations</h3>
                        <p class="card-text text"></p>
                        <a href="#" class="card-btn py-2" aria-label="Christmas Decorations">
                            See More
                            <span class="sr-only">Navigate to Christmas Decorations Category</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 py-3">
                <div class="card card-home h-100">
                    <img class="index-image" src="https://res.cloudinary.com/dcydt01ed/image/upload/v1699745898/elf_nrtp9i.webp"
                        alt="Elf on the shelf">
                    <div class="card-body text-center">
                        <h3 class="card-title fw-bold text-center">Naughty Elf</h3>
                        <p class="card-text"></p>
                        <a href="#" class="card-btn py-2" aria-label="See More - Elf on the shelf">
                            See More
                            <span class="sr-only">Navigate to Elf on the Shelf Category</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 py-3">
                <div class="card card-home h-100">
                    <img class="index-image"
                        src="https://res.cloudinary.com/dcydt01ed/image/upload/v1699746225/baloons_olpqlh.webp"
                        alt="Christmas Baloons">
                    <div class="card-body text-center">
                        <h3 class="card-title fw-bold text-center">Baloons</h3>
                        <p class="card-text"></p>
                        <a href="#" class="card-btn py-2" aria-label="See More - Christmas Baloons">
                            See More
                            <span class="sr-only">Navigate to Christmas Baloons Category</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 py-3">
                <div class="card card-home h-100">
                    <img class="index-image" src="https://res.cloudinary.com/dcydt01ed/image/upload/v1699744891/stockings_badari.webp"
                        alt="Christmas Stockings">
                    <div class="card-body text-center">
                        <h3 class="card-title fw-bold text-center">Stockings</h3>
                        <p class="card-text"></p>
                        <a href="#" class="card-btn py-2" aria-label="See More - Christmas Stockings">
                            See More
                            <span class="sr-only">Navigate to Christmas Stockings Category</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>

<section class="why-us">
    <div class="section-header text-center p-3">
        <h2 class="index-title">Why Shop With Us?</h2>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="why-us-item position-relative">
                    <div class="icon">
                        <img class="icon-img"
                            src="https://res.cloudinary.com/dcydt01ed/image/upload/v1700085214/1749236-200_ixu9ls.png"
                            alt="Fast Truck">
                    </div>
                    <p class="why-us-title">Fast Shipping!</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="why-us-item position-relative">
                    <div class="icon">
                        <img class="icon-img"
                            src="https://res.cloudinary.com/dcydt01ed/image/upload/v1700085214/890868-200_bdefmm.png"
                            alt="Money Bag">
                    </div>
                    <p class="why-us-title">The lowest prices, guaranteed!</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="why-us-item position-relative">
                    <div class="icon">
                        <img class="icon-img"
                            src="https://res.cloudinary.com/dcydt01ed/image/upload/v1700085886/christmas-tree-vector-silhouette-14_q3q0v0.png"
                            alt="Christmas Tree">
                    </div>
                    <p class="why-us-title">Get all you need for Christmas in one place!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}