/* General CSS */

/* Set the base styles for the entire page */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ecf1ecf9;
}

/* Home Page */
.hero-image-home {
    background-image: url(https://res.cloudinary.com/dcydt01ed/image/upload/v1699398259/hero-image_dppfod.webp);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
    z-index: 0;
}

.hero-text {
    position: relative;
    z-index: 1;
}

.hero-text h1 {
    font-size: 4.5rem;
    font-weight: 900;
    color: #7f0800;
    text-shadow: 2px 2px 2px black, 5px 5px 25px white;
    padding: 10px;
    border-radius: 35px;
}

.btn {
    color: #FFFF;
    background-color: #2e5f00;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 500;
    border-radius: 8px;
    padding: 2rem 2rem;
    font-size: 1.3rem;
}

.btn:hover {
    background-color: #7f0800;
    color: #FFFF;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Home Page - popular categories section */
.section-heading {
    margin-top: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

hr {
    margin-top: 2rem;
}

.card-title {
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
}

.card-home {
    position: relative;
    overflow: hidden;
}

.card-home img {
    transition: transform 0.3s ease;
}

.card-home:hover img {
    transform: scale(1.02);
}

.card-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 238, 52, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-home:hover::before {
    opacity: 1;
}

.card-home .card-body {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    transform: translateY(0);
}

.card-home:hover .card-body {
    transform: translateY(2px);
}

.index-image {
    height: auto;
    width: 100%;
}

.card-btn {
    color: #FFFF;
        background-color: #7f0800;
        font-weight: 400;
        padding: 1rem 1rem;
        font-size: 1rem;
}

.card-btn:hover {
    background-color: #2e5f00;
    text-decoration: none;
    color: #FFFF;
}

/* Why Us Section */
.why-us {
    padding: 2em;
}

.why-us h2 {
    color: #ecf1ecf9;
    text-transform: uppercase;
}

.why-us-item img {
    width: 100px;
    margin-top: 1em;
    filter: invert(1);
}

.why-us {
    background-color: #2e5f00;
}

.why-us .why-us-item {
    height: 100%;
    line-height: 1.8;
    text-align: center;
}

.why-us-title {
    color: #ecf1ecf9;
    margin: 0 0 20px 0;
    position: relative;
    text-align: center;
}

.why-us-p {
    color: #ecf1ecf9;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

/* Navbar*/
img.logo {
    width: 25vh;
}

.bg-as-body {
    background-color: #ecf1ecf9;
}

.brand-color {
    color: #7f0800;
}

.brand-color-mobile {
    color: #2e5f00;
}

.nav-link {
    padding: 0.5rem;
    color: black !important;
    text-decoration: none;
}

.navbar-right {
    color: black;
}

.bg-banner {
    background: #7f0800;
}

.navbar-icons {
    margin-bottom: 0 !important;
}

.font-weight-bold {
    font-size: 1.2rem;
}

.delivery {
    font-size: 1.3rem;
}

/* Footer*/
.footer {
    color: black;
    background-color: #ecf1ecf9;
    flex-shrink: 0;
    text-align: center;
}

.footer a {
    color: black;
}

.copyright {
    font-size: 0.8rem;
}

.footer-container {
    padding-bottom: 20px;
}

.footer .row {
    padding-top: 10px;
}

.footer a:hover {
    color: #2e5f00;
    text-decoration: none;
}

.footer ul {
    line-height: 2em;
    list-style: none;
    padding: 0;
}

.contact-links {
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
}

.footer-content {
    color: black;
}

.footer-col {
    padding-top: 20px;
}

.footer-row {
    padding: 0;
    margin: 0;
}

/* Mail Chimp */
#mc_embed_signup form {
    text-align: center;
    margin: 0 20px;
}

#mc_embed_signup h4 {
    margin: 0;
    font-weight: normal;
}

#mc_embed_signup .mc-field-group label {
    padding-top: 5px;
}

#mc_embed_signup .helper_text {
    display: none;
}

#mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
}

#mc_embed_signup .foot {
    display: flex;
    margin: 0;
    justify-content: space-between;
    flex-direction: column;
}

#mc_embed_signup .button {
    color: #FFFF;
    background-color: #7f0800;
    border-radius: 4px;
    border: 0 none;
    font-size: 18px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#mc_embed_signup .button:hover {
    background-color: #2e5f00;
}

.social-links {
    justify-content: center;
    font-size: 1.3em;
    margin-top: 2rem;
}

.social-links a {
    text-decoration: none;
}

.social-links i {
    padding: 10px;
}

/* Products Page */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.product-btn {
    color: #FFFF;
    background-color: #2e5f00;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 100;
    border-radius: 8px;
    padding: 0.8rem 0.8rem;
    font-size: 1rem;
}

.product-btn:hover {
    background-color: #7f0800;
    color: #FFFF;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.product-title {
    font-weight: 800;
    font-size: 1.6rem;
}

.text-decoration-line-through {
    text-decoration-line: line-through;
}

.red-sale {
    color: #7f0800;
}


a {
    color: #7f0800;
}

a:hover {
    text-decoration: none;
    color: #2e5f00;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.shopping-btn {
    color: #FFFF;
    background-color: #2e5f00;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 100;
    border-radius: 8px;
    padding: 1rem 1rem;
    font-size: 1rem;
}

.shopping-btn:hover {
    background-color: #7f0800;
    color: #FFFF;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.bag-btn {
    color: #FFFF;
    background-color: #000000;
    border-radius: 8px;
    font-weight: 400;
    padding: 1rem 1rem;
    font-size: 1rem;
    margin-left: 1rem;
}

.decr-btn {
    color: #FFFF;
    background-color: #2e5f00;
}

/* Bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.toast-btn {
    color: #FFFF;
    background-color: #2e5f00;
    font-weight: 100;
    padding: 1rem 1rem;
    font-size: 1rem;
}

.bg-color {
    background-color: #d9f1c1;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Media Queries */
/* Responsive styles for screens with a maximum width of 420px */
@media (max-width: 991px) {

    .navbar-icons {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 0 !important;
    }

    .nav-link {
        padding: 0.1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .delivery {
        font-size: 1rem;
    }

    .font-weight-bold {
        font-size: 1rem;
    }

    .btn {
        padding: 1.2rem 1.2rem;
        font-size: 1rem;
    }

    .bag-btn {
        padding: 1.2rem 1.2rem;
        font-size: 1rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (max-width: 420px) {

    .hero-text h1 {
        font-size: 3rem;
    }

    .h4 {
        font-size: 1.2em;
    }
}