/* General CSS */

/* Set the base styles for the entire page */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ecf1ecf9;
}

/* Home Page */

.hero-image-home {
    background-image: url(https://res.cloudinary.com/dcydt01ed/image/upload/v1699398259/hero-image_dppfod.webp);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    position: relative;
    z-index: 0;
}

.hero-text {
    position: relative;
    z-index: 1;
}

.hero-text h1 {
    font-size: 4.5rem;
    font-weight: 900;
    color: #7f0800;
    text-shadow: 2px 2px 2px black, 5px 5px 25px white;
    padding: 10px;
    border-radius: 35px;
}

.btn {
    color: #FFFF;
    background-color: #2e5f00;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 500;
    border-radius: 8px;
    padding: 2rem 2rem;
    font-size: 1.3rem;
}

.btn:hover {
    background-color: #7f0800;
    color: #FFFF;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-heading {
    margin-top: 20px;
    font-weight: 800;
}

.card-title {
    font-weight: 800;
    font-size: 1.3rem;
    text-decoration: none;
}

.card-home {
    position: relative;
    overflow: hidden;
}

.card-home img {
    transition: transform 0.3s ease;
}

.card-home:hover img {
    transform: scale(1.02);
}

.card-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 238, 52, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-home:hover::before {
    opacity: 1;
}

.card-home .card-body {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    transform: translateY(0);
}

.card-home:hover .card-body {
    transform: translateY(2px);
}

.index-image {
    height: auto;
    width: 100%;
}

.card-btn {
    color: #FFFF;
        background-color: #7f0800;
        font-weight: 400;
        padding: 1rem 1rem;
        font-size: 1rem;
}

.card-btn:hover {
    background-color: #2e5f00;
    text-decoration: none;
    color: #FFFF;
}


/* Navbar*/

img.logo {
    width: 25vh;
}

.bg-as-body {
    background-color: #ecf1ecf9;
}

.brand-color {
    color: #7f0800;
}

.nav-link {
    padding: 0.5rem;
}

.navbar-right {
    color: black;
}

/* Footer*/

.footer {
    color: #ecf1ecf9;
    background-color: #2e5f00;
}

.footer a {
    color: #ecf1ecf9;
    background-color: #2e5f00;
}

.copyright {
    font-size: 0.6rem;
}

.footer hr {
    border-color: #ecf1ecf9;
}

/* Media Queries */

/* Responsive styles for screens with a maximum width of 400px */
@media (max-width: 400px) {

    .hero-text h1 {
        font-size: 3rem;
    }
}